<h1> My CXO Circle</h1>
<div class="container">
    <div class="row">
        <div class="col"><div class="cxoCanvas">
            <div>
              <div style="display: block">
                <canvas baseChart
                  [data]="radarChartData"
                  [options]="radarChartOptions"
          
                  [type]="radarChartType">
                </canvas>
              </div>
            </div>
          </div></div>
          <div class="col">
            <mat-card class="example-result-card">
                <mat-card-content>
                  <h2>Chose your Ratings</h2>
                  <br>
                  <br>
              
                  <div class="example-label-container" [class]="vertical ? 'example-label-vertical' : 'example-label-horizontal'">
                    <label id="example-name-label" class="example-name-label">Deliverables : </label>
                    <label class="example-value-label">{{deliverables}}</label>
                  </div>
                  <mat-slider
                      class="example-margin"
                      [disabled]="disabled"
                      [invert]="invert"
                      [max]="max"
                      [min]="min"
                      [step]="step"
                      [thumbLabel]="thumbLabel"
                      [tickInterval]="getSliderTickInterval()"
                      [(ngModel)]="deliverables"
                      [vertical]="vertical"
                      (change) = "onValChange()"
                      aria-labelledby="example-name-label">
                  </mat-slider>
                  <div class="example-label-container" [class]="vertical ? 'example-label-vertical' : 'example-label-horizontal'">
                    <label id="example-name-label" class="example-name-label">Skills : </label>
                    <label class="example-value-label">{{skills}}</label>
                  </div>
                  <mat-slider
                      class="example-margin"
                      [disabled]="disabled"
                      [invert]="invert"
                      [max]="max"
                      [min]="min"
                      [step]="step"
                      [thumbLabel]="thumbLabel"
                      [tickInterval]="getSliderTickInterval()"
                      [(ngModel)]="skills"
                      [vertical]="vertical"
                      (change) = "onValChange()"
                      aria-labelledby="example-name-label">
                  </mat-slider>
                  <div class="example-label-container" [class]="vertical ? 'example-label-vertical' : 'example-label-horizontal'">
                    <label id="example-name-label" class="example-name-label">Impact : </label>
                    <label class="example-value-label">{{impact}}</label>
                  </div>
                  <mat-slider
                      class="example-margin"
                      [disabled]="disabled"
                      [invert]="invert"
                      [max]="max"
                      [min]="min"
                      [step]="step"
                      [thumbLabel]="thumbLabel"
                      [tickInterval]="getSliderTickInterval()"
                      [(ngModel)]="impact"
                      [vertical]="vertical"
                      (change) = "onValChange()"
                      aria-labelledby="example-name-label">
                  </mat-slider>
                  <div class="example-label-container" [class]="vertical ? 'example-label-vertical' : 'example-label-horizontal'">
                    <label id="example-name-label" class="example-name-label">Network : </label>
                    <label class="example-value-label">{{network}}</label>
                  </div>
                  <mat-slider
                      class="example-margin"
                      [disabled]="disabled"
                      [invert]="invert"
                      [max]="max"
                      [min]="min"
                      [step]="step"
                      [thumbLabel]="thumbLabel"
                      [tickInterval]="getSliderTickInterval()"
                      [(ngModel)]="network"
                      [vertical]="vertical"
                      (change) = "onValChange()"
                      aria-labelledby="example-name-label">
                  </mat-slider>
                  <div class="example-label-container" [class]="vertical ? 'example-label-vertical' : 'example-label-horizontal'">
                    <label id="example-name-label" class="example-name-label">Internal Visibility : </label>
                    <label class="example-value-label">{{ivisibility}}</label>
                  </div>
                  <mat-slider
                      class="example-margin"
                      [disabled]="disabled"
                      [invert]="invert"
                      [max]="max"
                      [min]="min"
                      [step]="step"
                      [thumbLabel]="thumbLabel"
                      [tickInterval]="getSliderTickInterval()"
                      [(ngModel)]="ivisibility"
                      [vertical]="vertical"
                      (change) = "onValChange()"
                      aria-labelledby="example-name-label">
                  </mat-slider>
                  <div class="example-label-container" [class]="vertical ? 'example-label-vertical' : 'example-label-horizontal'">
                    <label id="example-name-label" class="example-name-label">External Visibility : </label>
                    <label class="example-value-label">{{evisibility}}</label>
                  </div>
                  <mat-slider
                      class="example-margin"
                      [disabled]="disabled"
                      [invert]="invert"
                      [max]="max"
                      [min]="min"
                      [step]="step"
                      [thumbLabel]="thumbLabel"
                      [tickInterval]="getSliderTickInterval()"
                      [(ngModel)]="evisibility"
                      [vertical]="vertical"
                      (change) = "onValChange()"
                      aria-labelledby="example-name-label">
                  </mat-slider>
                </mat-card-content>
              </mat-card>
          </div>
    </div>
</div>
