<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="presentationBox">
                <div class="container">
                    <div class="row">
                        <div class="col-md">
                            <iframe [src]="selectedPresentation.src" width="595" height="485"
                                [title]="selectedPresentation.title" class="presentationBox"
                                (load)="onMyFrameLoad(this)" (change)="onMyFrameChange(this)" allowfullscreen="true"
                                mozallowfullscreen="true" webkitallowfullscreen="true" [hidden]="!showDeck">
                            </iframe>
                            <div [hidden]="showDeck">Loading ...</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row sidebar">
                <p>Highlights</p>

                <p> <a href="https://youtu.be/yQGUDOGRWrg" target="_blank">Click here</a> to Watch me speak in RSG Pune
                    on how we digitally transformed a traditional bank</p>
            </div>
            <div class="row">
                <div class="col display-item">
                    <p>
                        Below is the list of other trainings that I deliver
                    </p>
                </div>
                <div class="list">
                    <app-presentation-list [list]="presentationsList"></app-presentation-list>
                </div>
            </div>
        </div>
    </div>
</div>