<div class="presentationBox">
    <mat-grid-list cols="7" rowHeight="500">
        <mat-grid-tile>
            <button (click)=selectPrevious() class="previous"><label>{{presentationsList[previousIndex].title}}</label></button>
        </mat-grid-tile>
        <mat-grid-tile colspan="5">
            <iframe 
            [src]="presentationsList[selectedIndex].src" 
            width="595" 
            height="485"
            [title]="presentationsList[selectedIndex].title" 
            class="presentationBox" 
            allowfullscreen>
        </iframe>
        </mat-grid-tile>
        <mat-grid-tile><button (click)=selectNext() class="next"><label>{{presentationsList[nextIndex].title}}</label></button></mat-grid-tile>
      </mat-grid-list>
    <div class="row">
        <button (click)=selectPrevious()>Previous</button>
        <button (click)=selectNext()>Next</button>
    </div>
</div>
