
.presentationBox {
    border:0;
    margin-bottom:5px; 
}

.frame-container {
    width: 100%;
}
@media (min-width: 576px) { 
    .presentationBox {
        height: 100%;
        width: 100%;
    }
    .frame-container {
        width: 100%;
        height: 60%;
        transition: 0.5s;
    }
    .frame-container:hover {
        box-shadow: 2px 2px 2px grey;
    }
}
@media (max-width: 575.98px) { 
    .sidebar {
        width: 100%;
        padding:5px;
        margin:15px;
    }
    .presentationBox {
        display: flex;
        position: fixed;
        height: 300px;
        opacity: 1;
        background-color: white;
    }
    .frame-container {
        width: 100%;
        height: 100%;
        min-height: 100%;
        margin:2px;
    }
    .list {
        overflow: scroll;
        margin-top:350px;
    }
}

.display-item{
    min-width: 100%;
    font-size: medium;
}
.display-item:hover{
    background-color: azure;
    cursor: pointer;
}
.preview-box{
    border: 1px solid grey;
    background-color: azure;
    min-height: 100px;
}
.preview-box:hover{
    border: 1px solid black;
    background-color: green;
}
.list {
    overflow: scroll;
}
iframe {
    border: 0;
}