
.presentationBox {
    border:0px solid #CCC; 
    margin-bottom:5px; 
    padding-left: 5px;
    margin-left: 15px;
    max-width: 100%;
}
.previous{
    min-height: 100%;
    min-width: 100%;
    
}
.previous > label {
    transform: rotate(-90deg);
}
.next{
    min-height: 100%;
    min-width: 100%;
}
.next > label {
    transform: rotate(-90deg);
}