<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-sm-12">
            <div class="presentationBox">
                            <iframe [src]="selectedPresentation.src" 
                                [title]="selectedPresentation.title" class="frame-container"
                                (load)="onMyFrameLoad(this)" (change)="onMyFrameChange(this)" allowfullscreen="true"
                                mozallowfullscreen="true" webkitallowfullscreen="true" [hidden]="!showDeck">
                            </iframe>
                            <div [hidden]="showDeck"
                            class="frame-container">
                                <img [src]="selectedPresentation.preview" [alt]="selectedPresentation.title" height="250px" width="100%"/>
                            </div>
                        
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="row">
                <div class="list">
                    <app-presentation-list [list]="presentationsList"></app-presentation-list>
                </div>
            </div>
        </div>
    </div>
</div>