@media screen and (min-width: 0px) and (max-width: 400px) {
    .showOnMobile{ display: none; }
    .hideOnMobile{ display: block; }
  }
  @media screen and (min-width: 401px) and (max-width: 1024px) {
    .hideOnLarge{ display: block; }   
    .showOnLarge{ display: none; }   
  }
.presentationBox {
    border:0px solid #CCC; 
    margin-bottom:5px; 
    padding-left: 5px;
    margin-left: 15px;
    max-width: 100%;
}
.previous{
    min-height: 100%;
    min-width: 100%;
    background-color: white;
    font-size: large;
}
.previous > label {
    transform: rotate(-90deg);
}
.next{
    min-height: 100%;
    min-width: 100%;
    background-color: white;
    font-size: large;
}
.next > label {
    transform: rotate(-90deg);
}
.display-item{
    min-width: 100%;
    font-size: medium;
}
.display-item:hover{
    background-color: azure;
    cursor: pointer;
}