<section class="banner">
    <div class="banner-content">
      <h1 class="banner-quote">When you find joy in what you do,<br/> motivation fuels your journey toward extraordinary results</h1>
      <p class="banner-author">- Mohit Kanwar</p>
    </div>
  </section>

  <section class="introduction-section">
    <div class="introduction-content">
      <div class="introduction-text">
        <h2 class="introduction-heading">Hello, I'm Mohit Kanwar</h2>
        <p class="introduction-description"> A software architect specializing in innovative solutions for the FinTech and Banking industry. With extensive experience and expertise in software architecture, I deliver exceptional results by combining technical excellence with agile methodologies. Let's collaborate to achieve your digital transformation goals.</div>
      <div class="introduction-photo">
        <img src="/assets/images/homepage/DSC02223_result.JPG" alt="Mohit Kanwar">
      </div>
    </div>
  </section>


  <section class="reach-out-section">
    <h2 class="reach-out-heading">Reach Out to Me</h2>
    <div class="social-media-links">
      <a href="https://www.linkedin.com/in/mohit-kanwar-7668a211/" target="_blank" class="social-media-link linkedin">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://www.youtube.com/channel/UCOhe425h7O5a7jO6O2Sswug" target="_blank" class="social-media-link youtube">
        <i class="fab fa-youtube"></i>
      </a>
      <a href="https://medium.com/@mmkanwar" target="_blank" class="social-media-link medium">
        <i class="fab fa-medium"></i>
      </a>
    </div>
  </section>