<!--With Thumbnail-->
<a class="read-more-link" [routerLink]="['/tech', url]" *ngIf="template=='even'; else oddTemplate">
    <div class="blog-summary-container">
        <ng-template [ngTemplateOutlet]="summary"></ng-template>
        <img [src]="image" class="responsive-image-bounded" />
    </div>    
</a>
<ng-template #oddTemplate>
<a class="read-more-link" [routerLink]="['/tech', url]">
    <div class="blog-summary-container">
        <img [src]="image" class="responsive-image-bounded" />
        <ng-template [ngTemplateOutlet]="summary"></ng-template>
    </div>
</a>
</ng-template>

<ng-template #summary>
        <span class="blog-excerpt">
            <div class="blog-info" *ngIf="url!=''">
                <div>
                    <h3 class="blog-title">{{title}}</h3>
                    <p class="blog-date">Published on {{publishedDate | date: 'dd MMM yyyy'}}</p>
                    <p class="blog-excerpt" >
                        <markdown>
                            {{excerpt}}
                        </markdown>
                    </p>
                </div>
                <app-speech [textToSpeak]="excerpt"></app-speech>
            </div>
        </span>
</ng-template>
