.item {
    cursor: pointer;
    border: 2px solid white;
    margin: 2px;
}
.item:hover{
    background-color: green;
    border: 2px solid green;
    color:white;
}
.item:hover .description{
    color: white;
}
.notes{
    padding-left: 15px;
    word-wrap: break-word;
    max-width: 175px;
}
.title{
    font-weight: bold;
}
.description{
    padding-left: 15px;
    color: grey;
}
.even {
    background-color: white;
    border: 2px solid white;
}
.odd {
    background-color: rgb(231, 255, 231);
    border: 2px solid rgb(231, 255, 231);
}
