.item {
    cursor: pointer;
    border: 2px solid white;
    margin: 2px;
    opacity: 0.6;
    transition: 0.5s;
}
.item:hover{
    opacity: 1;
}
.notes{
    padding-left: 15px;
    word-wrap: break-word;
    max-width: 175px;
}
.title{
    font-weight: bold;
}
.description{
    padding-left: 15px;
    color: grey;
}
.even {
    background-color: white;
    border: 2px solid white;
}
.odd {
    background-color: rgb(231, 255, 231);
    border: 2px solid rgb(231, 255, 231);
}
.preview-image {
    width :168px;
    height :94px;
}
@media (max-width: 575.98px) {
    .item {
        cursor: pointer;
        border: 2px solid white;
        margin: 2px;
        opacity: 1;
        transition: 0.5s;
    }
    .notes{
        padding-left: 10px;
        word-wrap: break-word;
        max-width: 140px;
    }
    .preview-image {
        width :150px;
        height : 84px;
    }
}