<h1>Mohit's Jeevan Ratna's</h1>
<p> This list contains all my achievements since childhood</p>
<ul>
    <li>Lived alone successfully at home for the first time</li>
    <li>Travelled alone by bus for the first time</li>
    <li>Highest marks in class 10 in Maths in school</li>
    <li>Scored targetted 75%  in tenth</li>
    <li>Scored targeted 80% in 12th</li>
    <li>Successfully took on the challenge of Bio + Maths by fighting the opposition</li>
    <li>Got admission in Govt. college in top-most branch</li>
    <li>Won Presidential elections for SELCOME</li>
    <li>Took the class to industrial trip - kind of first by the society</li>
    <li>Won multiple awards in paper presentation in national level competitions - Moga, Ryat</li>
    <li>First one to get placed in the whole class</li>
    <li>Took care of self and friend post accident</li>
    <li>Fell in love</li>
    <li>Travelled by air all by myself for the first time</li>
    <li>Cleared training successfully in Infosys</li>
    <li>First friend's trip to wonder la - took toughest ride successfully</li>
    <li>Developed authentication and authorization module for FEBA</li>
    <li>Developed virtual keyboard all by myself, when others gave up</li>
    <li>Fought for transfer to chandigarh to be near family post parent's accident</li>
    <li>Travelled every week from chandigarh to sri ganganagar, managing office, bhua's house and parent's house</li>
    <li>Convinced dad to get mom's surgery</li>
    <li>Cracked Sapient nitro interview</li>
    <li>Got my friends in sapient nitro, motivated them to look out for more opportunities</li>
    <li>Learned Backbase Frontend, Backend and other technologies when others backed out</li>
    <li>Got Married</li>
    <li>Joined Xebia after clearing interview</li>
    <li>Learned Agile way of working</li>
    <li>Became the first Indian to crack Backbase Trainer's certification</li>
    <li>Helped Xebia get QIB, IDFC, Clix Capital and MCB projects</li>
    <li>Cracked Clix Capital Interview</li>
    <li>Identified that clix capital is not a company for me and left without much impact</li>
    <li>Managed Backbase COE well</li>
    <li>Took XKE to the next level</li>
</ul>