blockquote::before {
    content: open-quote;
    font-size: xx-large;
  }
  blockquote::after {
    content: close-quote;
    font-size: xx-large;
  }
  blockquote {
    quotes: "“" "”" "‘" "’";
    font-size: xx-large;
    text-align: center;
    font-style: italic;
  }
  @media (max-width: 575.98px) { 
    blockquote::before {
        font-size: large;
      }
      blockquote::after {
        font-size: large;
      }
      blockquote {
        font-size: large;
      }
  }
  figcaption::before {
    content: '-';
    padding-inline-end: 5px;
  }
  figcaption {
    font-size: large;
    text-align: center;
    font-style: italic;
  }
