<div class="projects">
    <p class="intro">
        This list contains some projects that I dream to achieve. Some of them are in progress, others are concepts that will be converted to real projects in future.
    </p>
    <div class="list">
        <dl>
            <dt><a routerLink="/projects/my-public-info">My Public Information</a></dt>
            <dd>An experiment to identify available public information</dd>
            <dt><a routerLink="/projects/my-blog">My Blog</a></dt>
            <dd>This exact web-app that your are on.</dd>
            <dt><a routerLink="/projects/jeevan-ratna">Jeevan Ratnas</a></dt>
            <dd>The moments that I am proud of!</dd>
            <dt><a routerLink="/projects/cxo">A road to CXO</a></dt>
            <dd>Tools for defining your road to CXO.</dd>
        </dl>
    </div>
</div>
