<div class="projects">
    <p class="intro">
        This list contains some projects that I dream to achieve. Some of them are in progress, others are concepts that will be converted to real projects in future.
    </p>
    <div class="list">
        <dl>
            <dt>Retail Banking Omni-Channel application</dt>
            <dd>A ready to use Retail banking application which runs on android, ios and web.</dd>
            <dt>Conversational Engine</dt>
            <dd>This is an attempt where I would like to develop some conversational aspects from programming. This would help me in learning AI/ML aspects.</dd>
            <dt>Customer Connect Platform</dt>
            <dd>Customers today are very active on social media platforms, and hence customer service should be that active as well</dd>
            <dt>Identity Management System</dt>
            <dd>A system which allows easier authentication and authorization while managing security of the system</dd>
            <dt>Customer Globe</dt>
            <dd>People spread their information online on different platforms. This system aims to collate that information about people to be used for useful purposes.</dd>
        </dl>
    </div>
</div>
