<header>
<nav class="navbar navbar-light">
    <span class="drawer-button" (click)="toggleNav()">&#9776;</span>
    <a class="navbar-brand-logo" routerLink="/">
        <img alt="My Digital Career" src="./assets/images/logo.gif" class="logo">
    </a>
</nav>
<div class="sidenav" [@visibility]="visibilityState">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    <a class="nav-link" *ngFor="let link of links" [routerLink]="link.url" routerLinkActive="active" (click)="closeNav()">
        {{link.display}}
    </a>

    <div>
        <div class="container">
          <span class="version">
            {{ version }}
          </span>
        </div>
      </div>
</div>
</header>