.logo {
    width: 20%;
    float: right;
}
.navbar-brand-logo{
    width:90%;
    margin-right: 0;
}
.drawer-button {
    font-size:30px;
    cursor:pointer;
    float: left;
}

.sidenav {
    height: 85%;
    width: 40%;
    position: fixed;
    z-index: 10;
    top: 10;
    left: 0;
    background-color: #FFF;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 1%;
    right: 1%;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .version {
    float: right;
    color: #bbb;
}