<h1>This blog</h1>
<p>This is my 4th attempt to create my own branding website.</p>
<h2>Mission</h2>
<p>The mission of this website is to learn, experiment, market and improve my thoughts.</p>
<h2>Technologies</h2>
<ul>
    <li>Angular</li>
    <li>Java</li>
</ul>
<h2>
    Hosting
</h2>
<p> This blog is hosted on Github Pages</p>
<h2>Functionalities</h2>
<p>This blog consists of my daily posts and updates that I put on various platforms. To begin with - Linked In.</p>
<p>It also fetches Videos from youtube and blogs from medium</p>