
@media (min-width: 992px) { 
    app-layout-mobile-header {
        display: none;
    }
    app-layout-mobile-footer {
        display: none;
    }
    .container-fluid {
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
        padding-right: 0;
    }
 }
 @media (max-width: 991.98px) { 
    app-layout-header {
        display: none;
    }
    app-layout-footer{
        display: none;
    }
    .top-empty{
        display: none;
    }
    router-outlet {
        margin-top:45px;
    }
    .main {
        position: relative;
        top:50px;
        overflow: scroll;
        z-index: 0;
        padding-bottom:55px;
    }
    .container-fluid {
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
    }
 }
 .bottom-empty{
    min-height: 75px;
  }
  .top-empty{
    min-height: 75px;
}