
@media (min-width: 992px) { 
    app-layout-mobile-header {
        display: none;
    }
    app-layout-mobile-footer {
        display: none;
    }
 }
 @media (max-width: 991.98px) { 
    app-layout-header {
        display: none;
    }
    app-layout-footer{
        display: none;
    }
 }