.blog-summary-container {
  display: flex;
}
.blog-thumbnail {
    max-width: 50%;
    overflow: hidden;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .blog-info {
    padding: 10px;
  }
  
  .blog-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin: 0;
  }
  
  .blog-date {
    font-size: 14px;
    color: #777;
    margin: 5px 0;
  }
  
  .blog-excerpt {
    font-size: 16px;
    color: #333;
    margin: 0;
  }
  
  .read-more-link {
    font-size: 14px;
    color: #007bff;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
  }
  
  