<div class="blogs">
    <p>
        This list contains some blogs that I have written on various platforms. It contains ideas from my experience and my opinions on various subjects
    </p>
    <div class="list">
        <dl>
            <dt>
                <a href ="https://medium.com/xebia-engineering/letting-customers-reach-out-to-you-e0c9b86813cc">
                    Letting customers reach out to you!
                </a>
            </dt>
            <dd>My experience on Banking customer services, and opportunities to improve it</dd>
        </dl>
    </div>
</div>
