<div class="timeline" (scroll)="onScroll($event)">
    <div class="timeline-post" *ngFor="let post of posts">
        <div class="post-header"><span class="date">{{post.date|date:'dd-MMM-yyyy'}}</span> - {{post.title}}</div>
        <app-video-post *ngIf="post.type=='VIDEO'" [post]="post"></app-video-post>
        <app-image-post *ngIf="post.type=='IMAGE'" [post]="post"></app-image-post>
        <div class="post-footer">{{post.description}}</div>
    </div>
    <!-- <div class="timeline-post">
      <img src="./assets/files/posts/do-a-crappy-jov.gif" class="img-holder"/>
    </div>
    <div class="timeline-post">
      <img src="./assets/files/posts/india-pakistan.gif" class="img-holder"/>
    </div>
    <div class="timeline-post">
      <img src="./assets/files/posts/java-numeric-literals-light.gif" class="img-holder"/>
    </div>
    <div class="timeline-post">
      <img src="./assets/files/posts/java-records.gif" class="img-holder"/>
    </div>
    <div class="timeline-post">
      <img src="./assets/files/posts/kaizen.gif" class="img-holder"/>
    </div>
    <div class="timeline-post">
      <img src="./assets/files/posts/mistakes-light-slow.gif" class="img-holder"/>
    </div>
    <div class="timeline-post">
      <img src="./assets/files/posts/perfect-chocolate.gif" class="img-holder"/>
    </div>
    <div class="timeline-post">
      <img src="./assets/files/posts/posts.gif" class="img-holder"/>
    </div>
    <div class="timeline-post">
      <img src="./assets/files/posts/scalability.gif" class="img-holder"/>
    </div>
    <div class="timeline-post">
      <img src="./assets/files/posts/sip-life-plan-light.gif" class="img-holder"/>
    </div>
    <div class="timeline-post">
      <img src="./assets/files/posts/tigger-eyore.png" class="img-holder"/>
    </div>
    <div class="timeline-post">
      <img src="./assets/files/posts/time.gif" class="img-holder"/>
    </div>
    <div class="timeline-post">
      <img src="./assets/files/posts/PII.gif" class="img-holder"/>
    </div> -->
  </div>