
.menu-header {
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  backdrop-filter: blur(5px); /* Create a frosted glass effect */
}

.menu-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-right: 20px;
  flex: 1;
}

.logo img {
  width: 40px; 
  height: auto;
}

.menu-list {
  list-style: none;
  display: flex;
}

.menu-item {
  margin-right: 20px;
}

.menu-item a {
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

main {
  padding-top: 80px; 
  margin-bottom: 60px;
}


  .menu-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    opacity: 0.3;
    transition: opacity 0.3s ease;
    
  }
  .menu-footer:hover {
    opacity: 1;
  }

  .footer-content-web {
    display: none;
    justify-content: space-around;
    align-items: center;
  }
  
  .footer-links-web {
    list-style: none;
    display: none;
    margin: 0;
    padding: 0;
  }
  
  .footer-links-web li {
    margin-right: 10px;
  }
  
  .footer-links-web li:last-child {
    margin-right: 0;
  }
  
  .footer-links-web a {
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  @media (min-width: 768px) {
    .footer-content-web {
      display: flex;
    }
    .footer-links-web {
      display: flex;
    }
  }

  @media (max-width: 767px) {
    .menu-footer {
      display: none;
    }
    .footer-content-web {
      display: none;
    }
    .footer-links-web {
      display: none;
    }
  }
  
  