


main {
  padding-top: 80px; 
  margin-bottom: 60px;
}


  .menu-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    opacity: 0.3;
    transition: opacity 0.3s ease;
    
  }
  .menu-footer:hover {
    opacity: 1;
  }

  .footer-content-web {
    display: none;
    justify-content: space-around;
    align-items: center;
  }
  
  .footer-links-web {
    list-style: none;
    display: none;
    margin: 0;
    padding: 0;
  }
  
  .footer-links-web li {
    margin-right: 10px;
  }
  
  .footer-links-web li:last-child {
    margin-right: 0;
  }
  
  .footer-links-web a {
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  @media (min-width: 768px) {
    .footer-content-web {
      display: flex;
    }
    .footer-links-web {
      display: flex;
    }
  }

  @media (max-width: 767px) {
    .menu-footer {
      display: none;
    }
    .footer-content-web {
      display: none;
    }
    .footer-links-web {
      display: none;
    }
  }
  
  