<mat-toolbar color="primary">

  <button mat-button routerLink="/">
    <mat-icon>home</mat-icon>
    Home
  </button>

  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <button mat-button routerLink="/tech"><mat-icon>article</mat-icon>Blogs</button>
  </div>
  <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
    <mat-icon>menu</mat-icon>
  </button>

</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">
  <button mat-menu-item routerLink="/tech">Blogs</button>
</mat-menu>
<main>
  <ng-content></ng-content>
</main>

<footer class="menu-footer">
  <div class="footer-content-web">
    <p>&copy; 2007- {{currentYear}} Mohit Kanwar. All rights reserved.</p>
    <ul class="footer-links-web">
      <li><a routerLink="/general/privacy-policy">Privacy Policy</a></li>
      <li><a routerLink="/general/terms-of-service">Terms of Service</a></li>
      <li class="version">V-{{ version }}</li>
    </ul>
  </div>
</footer>