header {
    clear: both;
    position: fixed;
    height: 50px;
    z-index: 10;
    width: 100%;
    background-color: white;
    margin-bottom: 10px;
    
}
.logo {
    width: 15%;
}
.navbar-brand{
    display: flexbox;
    justify-content: left;
    text-align: left;
}
.navbar {
    background-color: white;
    border-bottom: solid lightgrey 1px;
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
    margin-bottom: 15px;
    box-shadow: 1px 4px 5px lightgrey;
}
.nav-link{
        display: flex;
        align-items: center;
}
.material-icons{
    margin-left: 5px;
    margin-right: 2px;
}