<div class="container">
  <div class="blog-post">
    <h1 class="blog-title">{{ blog.title }}</h1>
    <app-speech [textToSpeak]="blog.title + '. By'+ blog.author + '.'+ blog.content"></app-speech>
    <p class="blog-author">By {{ blog.author }}</p>
    <p class="blog-date">Published on {{ blog.publishDate | date: 'dd MMM yyyy' }}</p>
    <scully-content></scully-content>
    <div class="blog-content" [innerHTML]="trustedHtml">
    </div>
    <div>
      <div id="disqus_thread"></div>
      <script>
          /**
          *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
          *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
          
          var disqus_config = function () {
          this.page.url = 'www.mohitkanwar.com';  // Replace PAGE_URL with your page's canonical URL variable
          this.page.identifier = 'mohitkanwar/chat'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
          };
          
          (function() { // DON'T EDIT BELOW THIS LINE
          var d = document, s = d.createElement('script');
          s.src = 'https://mohit-kanwar.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
          })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>   </div>
  </div>
  <div class="side" *ngIf="blog.tldr && blog.tldr.length>0"> 
   <div class="component">
    <h3>TL;DR</h3>
    <div class="blog-content" [innerHTML]="blog.tldr | markdown">
    </div>
   </div> 
   <!-- <div class="component">
    <h3>TL;DR</h3>
    <div class="blog-content" [innerHTML]="blog.tldr | markdown">
    </div>
   </div>  -->
  </div>
</div>
