

.blog-post {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto; /* Auto margins for horizontal centering */
    width: 70%; /* Adjust the width as needed */
    flex: 1; /* Take remaining space */
  }
  
  @media (max-width: 768px) {
    .blog-post {
        width: 90%; /* Change the width for screens with a max-width of 768px (e.g., mobile) */
    }
  }
  .blog-title {
    font-size: 24px;
    color: #333;
  }
  
  .blog-author {
    font-size: 14px;
    color: #777;
  }
  
  .blog-date {
    font-size: 14px;
    color: #777;
  }
  
  .blog-content {
    font-size: 16px;
    color: #333;
  }
  .side {
    display: block; 
    width: 30%; /* Adjust the width as needed */
    margin: 20px 10px; /* Add space between the blog post and the side component */
  }
  .component {
    padding: 10px; /* Adjust the padding as needed */
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: fit-content; 
    margin-bottom: 10px; /* Add space between the blog post and the side component */

  }

  @media (max-width: 768px) {
    .side {
      display: none; 
    }
  }

  .width50 {
    width: 50%;
  }