@media (min-width: 576px) {
    .donation-box{
      margin: auto;
      width: 60%;
      text-align: left;
      box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
      padding: 10px;
      border-radius: 15px;
      margin-bottom: 15px;
    }
  }
  @media (max-width: 575.98px) {
    .donation-box {
      margin: auto;
      box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
      padding: 10px;
      border-radius: 15px;
      margin-bottom: 15px;
    }
  }

  .razorpay-embed-btn{
      background-color: blue;
      color: aliceblue;
  }