
.blogs-list {
  width: 70%;
}
.side {
  width: 20%;
}
.blog-summary {
  margin: 5px auto 0;/* Center align the component */
  max-width: 70%; /* Set the initial width for larger screens */
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(238, 65, 65, 0.1);
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Vertically center the content */
  padding: 5px;
  transition: background-color 0.3s, box-shadow 0.3s;
}
.blog-summary:hover {
  background-color: #f0f0f0; /* Change the background color on hover to create a shine effect */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Adjust the box-shadow on hover for added emphasis */
}
@media (max-width: 768px) {
  .blog-summary {
    max-width: 90%; /* Change the width for screens with a max-width of 768px (e.g., mobile) */
  }
}

.example-tree-invisible {
  display: none;
}

.blog-tree ul,
.blog-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

/*
 * This padding sets alignment of the nested nodes.
 */
.blog-tree .mat-nested-tree-node div[role=group] {
  padding-left: 40px;
}

/*
 * Padding for leaf nodes.
 * Leaf nodes need to have padding so as to align with other non-leaf nodes
 * under the same parent.
 */
.blog-tree div[role=group] > .mat-tree-node {
  padding-left: 40px;
}
