<div class="project">
    <div class="projectcontainer">
        <div class="details">
            <h1>My Public Information</h1>
            <p>This project aims at identifying different public information of the user.
                As a non-technical user we do not realize how much information we release into public without realizing. As a developer and explorer, I would like to collate all the ways of getting that information and sharing the ways of identifying and tracking it.
                I will start from easy to track things to more difficult items.
            </p>
        </div>
    </div>
</div>
