.container {
  display: flex;
}
.flex-container {
  display: flex;
  overflow-x: auto; /* Enable horizontal scrolling */
  width: 90%; /* Take full width of viewport */
  white-space: nowrap; /* Prevent content from wrapping */
  overflow-y: hidden; /* Hide vertical scrollbar */
  scrollbar-width: thin; /* Set the width of the scrollbar */
  scrollbar-color: #888888 #f0f0f0; /* Define scrollbar colors */
  border-radius: 10px;
}
/* Define scrollbar styles for Webkit browsers */
.flex-container::-webkit-scrollbar {
  width: 4px; /* Set the width of the scrollbar */
  height: 5px;
}

.flex-container::-webkit-scrollbar-thumb {
  background-color: #888888; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Round corners of the thumb */
}

.flex-container::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Color of the scrollbar track */
}
.responsive-container {
  display: flex;
  overflow-x: auto; /* Enable horizontal scrolling */
  width: 90%; /* Take full width of viewport */
  white-space: nowrap; /* Prevent content from wrapping */
  overflow-y: hidden; /* Hide vertical scrollbar */
  scrollbar-width: thin; /* Set the width of the scrollbar */
  scrollbar-color: #888888 #f0f0f0; /* Define scrollbar colors */
  border-radius: 10px;
  align-items: center; 
}
@media (max-width: 767px) {
  .responsive-container {
    display: block;/* Takes full width on screens up to 767px (mobile) */
  }
}


/* You can add global styles to this file, and also import other style files */
/* CSS for responsive images */
.responsive-image {
    max-width: 100%; /* Ensure the image does not exceed its container width */
    height: auto;    /* Allow the image to maintain its aspect ratio */
    display: block;  /* Remove any unwanted spacing or alignment issues */
    margin: 5px auto;  /* Center the image horizontally in its container (optional) */
    border-radius: 10px;
  }
  .responsive-image-bounded {
    max-width: 50%; /* Ensure the image does not exceed its container width */
    height: auto;    /* Allow the image to maintain its aspect ratio */
    display: block;  /* Remove any unwanted spacing or alignment issues */
    margin: 5px auto;  /* Center the image horizontally in its container (optional) */
    max-height: 400px;
    border-radius: 10px;
  }
  .responsive-image-400 {
    max-width: 100%; /* Ensure the image does not exceed its container width */
    height: auto;    /* Allow the image to maintain its aspect ratio */
    display: block;  /* Remove any unwanted spacing or alignment issues */
    margin: 5px auto;  /* Center the image horizontally in its container (optional) */
    max-height: 400px;
    border-radius: 10px;
  }
  @media (max-width: 767px) {
    .responsive-image {
        margin: 5px 2px;  /* Center the image horizontally in its container (optional) */
    }
    .responsive-image-400 {
       margin: 5px 2px;  /* Center the image horizontally in its container (optional) */
    }
    .responsive-image-bounded {
      max-width: 90%;
    }
  }
  .inline-block-text {
    display: inline-block; /* Ensure the span behaves like a block element */
    word-wrap: break-word; /* Enable word wrapping for long words */
    text-wrap: pretty;
    margin: 10px;
    vertical-align: middle;
  }
/* Blog and blog posts Styles */
.blog {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
}

.blog-post {
  width: 100%; /* Takes full width on mobile */
  margin-bottom: 20px; /* Add some space between posts */
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}
.map-container {
  width: 100%;
  max-width: 600px; /* Adjust width as needed */
  
  margin: 0 auto;
  border-radius: 10px; /* Rounded corners for the frame */
  overflow: hidden; /* Hide any overflowing content */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

/* Responsive Styles for Web */
@media (min-width: 768px) {
  .blog-post {
    width: 48%; /* Takes 48% width on screens wider than 768px */
  }
}

/* Responsive Styles for Mobile */
@media (max-width: 767px) {
  .blog-post {
    width: 100%; /* Takes full width on screens up to 767px (mobile) */
  }
}
