/* You can add global styles to this file, and also import other style files */
/* CSS for responsive images */
.responsive-image {
    max-width: 100%; /* Ensure the image does not exceed its container width */
    height: auto;    /* Allow the image to maintain its aspect ratio */
    display: block;  /* Remove any unwanted spacing or alignment issues */
    margin: 0 auto;  /* Center the image horizontally in its container (optional) */
  }
  
/* Blog and blog posts Styles */
.blog {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
}

.blog-post {
  width: 100%; /* Takes full width on mobile */
  margin-bottom: 20px; /* Add some space between posts */
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}


/* Responsive Styles for Web */
@media (min-width: 768px) {
  .blog-post {
    width: 48%; /* Takes 48% width on screens wider than 768px */
  }
}

/* Responsive Styles for Mobile */
@media (max-width: 767px) {
  .blog-post {
    width: 100%; /* Takes full width on screens up to 767px (mobile) */
  }
}
