<div class="home-page">

  <div class="banner" *appShowAuthed="false">
    <div class="container">
      <h1 class="logo-font">Start</h1>
      <p><em>It might be incomplete, but it is better than not being there</em></p>
    </div>
  </div>

  <div class="container page">
    <div class="row">

      <div class="col-md-9">
        <div class="feed-toggle">
          <mat-tab-group dynamicHeight [selectedIndex]="1">
            <mat-tab label="Trainings">
              <div class="mat-elevation-z4">
                <app-presentations></app-presentations>
              </div>
            </mat-tab>
            <mat-tab label="Projects">
              <div class=" mat-elevation-z4">
                <app-projects></app-projects>
              </div>
            </mat-tab>
            <mat-tab label="Blogs">
              <div class="mat-elevation-z4">
                <app-blogs></app-blogs>
              </div>
            </mat-tab>
            <mat-tab label="Videos">
              <div class="mat-elevation-z4">
                <app-videos></app-videos>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>

      </div>

      <div class="col-md-3">
        <div class="sidebar">
          <p>Popular Tags</p>

          <p> A place holder to keep something in sidebar</p>
        </div>
      </div>

    </div>

    <div class="row">
      
    </div>
  </div>
</div>