.home-page{
  width: 100%;
}
.home-page .row {
  display: flex;
  margin-left: -10px;
}
.nav-link {
  cursor:pointer;
}

.tag-pill{
  cursor:pointer;
}
.mat-tab {
  min-height: 100%;
  margin-bottom: 20vw;
  
}

.page-container{
  padding-top: 10px;
}
.row {
  width: 100%;
}
